
html{
height:105%;
}

.Layout{
 width:100%;
 height:105%;
}
body
{   margin-left:5%;
    margin-right:5%;
    height:105%;
	background-repeat:no-repeat;
	-moz-background-size:40% 100%;
	background-size:90% 98%;
	background-position:center;
}
.header{
width:100%;
height:25%;
/*background:#FF3;*/
/*background:url(WebRoot/dec/img/cd.jpg);*/
}
.top{
width:70%;
height:25%;
/*background-image:url(../top1.jpg);*/
margin:0px;
border:0px;
float:left;
}
.top img{
width:850px;
height:120px;
filter:alpha(opacity=0);
}
.login{
/*overflow:hidden;*/
/*margin-left:80%;*/
width:30%;
height:25%;
margin:50px 0px 0px 0px;
/*background-image:url(../background.jpg);*/
float:right;
/*float:right;*/
/*text-align:center;*/
/*position:relative;*/
/*display:inline-block;*/
}
.login h4{
text-align:center;

}
/*.login form p{
font-size:"80%";	
font-color:#ffffff;	
}*/
.nav{
/*overflow:hidden;*/
width:100%;
/*width:850px;*/
height:10%;
/*background:#8b8378;*/
float:left;
 
}
.content{
/*margin-top:30%;*/
overflow:hidden;
width:100%;
height:60%;
/*background:#000080;*/
}
.bot{
/*margin-top:90%;*/
overflow:hidden;
width:100%;
height:10%;
background:#666666;
}
.bot h3{
	
	text-align:center;
	
}
/*#menu li{
list-style:none;
padding:0;
margin:10px 100px 10px 100px;
float:left;
}
#menu ul li{
padding:0;
margin:0;
}*/
/*nav {
font-family: arial, sans-serif; 
width:100%; 
margin-top: 10px;
margin-left: 22%;
}*/

.nav ul {
padding:0; 
margin:0;
list-style-type: none;

}

.nav ul li {
float:left; 
position:relative;
font-color:#89E9F3;
z-index:1;
}

.nav ul li a, .navigo ul li a:visited {
display:block; 
text-align:center; 
text-decoration:none; 
width:200px; 
height:60px; 
color:#000; 
/*border:1px solid #fff;*/
border-width:0px 0px 0 0;
background:#666666; 
line-height:50px; 
font-size:11px;
}

.nav ul li ul {
display: none;
}

.nav ul li:hover a {
color:#000000; 
background:#FFFFFF;
}

.nav ul li:hover ul {
display:block; 
position:absolute; 
top:60px; 
left:0; 
width:119px;
background:#FFFFFF;
color:#FFEE73;
}

.nav ul li:hover ul li a {
display:block; 
background:#666666; 
color:#000000;
}

.nav ul li:hover ul li a:hover {
background:#FFFFFF; 
color:#000000;
}
.searchBar
{  overflow:hidden;
   width: 614px;
   height:60px;
   background:#666666;
   /*border:1px solid lightgray;
   text-align: center;
   vertical-align: middle;
   border-bottom: none;*/
}

.searchtext
{
    width: 300px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5%;

}

.searchbutton1/*, .searchbutton2*/
{
    width: 150px;
    height: 30px;
    /*margin-left: 30%;
    margin-bottom: 10px;
    margin-top: 8px;*/